<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Created Correctly</title>
  </head>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
  <body>
    <div class="header">
      <img src="https://i.ibb.co/5R0QRhs/logo-bike4life.png" />
    </div>
    <h1>User created correctly</h1>
    <p>The user {{user_email}} can start using Bike4Life services!</p>
  </body>
</html>
