<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Optimized Correctly</title>
</head>
<style>
    body{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
</style>
<body>
        <div class="header">
            <img src="../img/logo-bike4life.png" />
        </div>
        <h1>Route optimized correctly</h1>
        <p>The route {{route_id}} have been optimized!</p>
</body>
</html>

